<!DOCTYPE html> 
<html> 
    <head> 
        <title>Aviso</title>
        <meta name="viewport" content="width=device-width, initial-scale=1 /">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" /> 
    </head> 
    <body>
        <div class="w3-container w3-twothird">
            <h1 class="w3-center">{{msg}}</h1>

            <div class="w3-container w3-center">            
                <a href="/">
                    <button class="w3-button w3-blue w3-border w3-round-large">Página Inicial</button>
                </a>
            </div>
        </div>
    </body> 
</html>